useDynLib(equateMultiple, .registration = TRUE)

# Imported functions
importFrom(Rcpp, evalCpp)
importFrom("stats", "nlminb", "reshape", "aggregate", "lm", "optim", "relevel", "coef", "model.matrix")
importFrom("graphics", "plot")
importFrom("equateIRT", "modIRT", "eqc", "itm", "score")
importFrom("statmod", "gauss.quad.prob")
importFrom("numDeriv", "grad", "jacobian")
importFrom("data.table", "rbindlist", ":=")
importFrom("Matrix", "Matrix", "bdiag")
importFrom("mvtnorm", "dmvnorm")
importFrom("utils", "capture.output")

# Exported functions
export(multiec, print.mlteqc, summary.mlteqc, eqc.mlteqc, itm.mlteqc, score.mlteqc)

# S3 methods
S3method(print, mlteqc)
S3method(summary, mlteqc)
S3method(eqc, mlteqc)
S3method(itm, mlteqc)
S3method(score, mlteqc)


